* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    color: #085f63
}

a {
    text-decoration: none
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;
    background: #085f63
}

    .logo {
        color: #facf5a
    }

    .item-menu {
        padding: 0 2em;
        color: #facf5a
    }

        .item-menu:hover {
            color: #49beb7
        }

    .button-header {
        background: #facf5a;
        color: #085f63;
        padding: 1em 3em;
        border-radius: 5px;
        font-weight: 700;
        transition: all ease .2s   
    }

        .button-header:hover {
            background: #49beb7
        }

#colItems {
    padding: 2em 4em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between
}

    .tarjeta {
        width: 30%;
        border: 1px solid #dadada;
        padding: 3em;
        border-radius: 5px
    }

        .tarjeta img {
            width: 100%;
            height: auto;
            padding: 0 0 2em 0
        }

    .info {
        border-top: solid 1px #dadada;
        padding: 2em 0
    }

        .nombre-info {
            font-size: 1.2rem
        }

        .precio-info {
            font-size: 1rem;
            color: #49beb7;
            padding: .5em 0 1em 0
        }

        .stock-info {
            font-size: .8rem;
            padding: 0 0 1em 0
        }

        .btn-comprar {
            -webkit-appearance: none;
            border: none;
            outline: none;
            font-family: 'Rubik', sans-serif;
            letter-spacing: 1px;
            background: #facf5a;
            color: #085f63;
            padding: 1em 2em;
            font-weight: 700;
            border-radius: 5px;
            transition: all ease .2s;
            cursor: pointer   
        }

            .btn-comprar:hover {
                background: #49beb7
            }

            .cesta-fix {
                width: 100%;
                background: #085f63;
                color: #facf5a;
                padding: 2em 4em;
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 10
            }

                .invisible {
                    display: none
                }

                .nombre {
                    font-style: italic;
                    padding: 0 2em 0 0
                }

            #total {
                padding: 1em 0 0 0
            }

            .footer {
                height: 30vh;
                background: #dadada;
                color: #085f63;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center
            }

                .footer h2 {
                    font-size: 2rem
                }